//*** variables
$primary-font: "Chakra Petch", sans-serif;
$white-color: #edf2f8;
$red-text-color: #e50914;
$black-color: #000;

* {
  margin: 0;
  padding: 0;
  font-family: $primary-font;
  text-decoration: none;
  color: $black-color;
}

header {
  height: 4rem;
  nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .nav-profile {
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      padding: 10px;
      margin-right: 50px;
      border-radius: 20px;
      i {
        font-size: 1.7rem;
      }
    }
  }
}

.card-container {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
}

.card {
  height: max-content;
  flex-direction: column;
  gap: 1.5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 1%;
  border-radius: 20px;
}

.card .input-box {
  padding: 1.5% 0;
  width: 500px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  border: 3px solid black;
  outline: none;
}

.card input:focus {
  border-color: red;
  animation: inputfocusanimation 0.8s unset;
}

.card textarea:focus {
  border-color: red;
  animation: inputfocusanimation 0.8s unset;
}

@keyframes inputfocusanimation {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }
}

.card .input-box::placeholder {
  color: $black-color;
  font-weight: 600;
  font-family: var(--btnfont);
}

.dark-mode .card input::placeholder,
.dark-mode .card textarea::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 600;
  font-family: var(--btnfont);
}

.form-field {
  flex-direction: column;
  gap: 15px;
  > label {
    padding-left: 10px;
  }
}
.projects-container {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 1%;
  border-radius: 20px;
}

.project-list {
  display: flex;
}

.project-item {
  width: 100%;
  text-align: justify;
}

.project-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2% 0 4%;
}

.project-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  > li {
    font-size: 1.2rem;
  }
}

.remove-btn-container {
  padding: 3% 0;
}

.remove-btn-container:hover {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

.remove-btn-container:active {
  transform: scale(0.9);
}

.remove-btn {
  border: 3px solid #ff0000; /* Assuming $red-text-color is #ff0000 or your desired red color */
  border-radius: 10px;
  background-color: transparent;
  padding: 5px 10px;
}

.remove-btn i {
  color: #ff0000; /* Same assumption as above for red color */
}
